<p id="notice"><%= notice %></p>
<div class="papers">
  <div>
    <h1 class="text-center"><%= @project.title %></h1><p class="pull-right"><%= @project.start_date %> ~ <%= @project.end_date %></p>
    <div>
  <hr><br>
  <div><%= @project.content %><br><br><br></div>
</div>
<div class="pull-right">
<% if user_signed_in? %>
<%= link_to 'Edit', edit_project_path(@project),class:"btn btn-info" %> |
<%= link_to 'Destroy', @project, class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', projects_path, class:"btn"%>
<hr>
</div>
<div>
<%= form_for ([@project,@project.comments.build]) do |f| %>
    <p><%= f.text_field :body, class:"input-xlarge" %> <%= f.submit%></p>
<% end %>
</div>

  <% @comments.each do |comment| %>
    <% if comment.id? %>
      > <%= comment.body %><hr>
    <% end %>
  <% end %>
</div>
<br>


