<h1>Board</h1>

<table class="table  table-condensed table-striped table-hover">
  <tr align="center">
    <th>#</th>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Date</th>
    <th>Count</th>
    <th>Title</th>
  </tr>
<% @boards.each do |board| %>
  <tr>
    <td width="5%"><%= board.id %></td>
    <td width="10%"><%= board.name %></td>
    <td width="20%"><%= board.email %></td>
    <td width="10%"><%= board.created_at.strftime("%Y-%m-%d") %></td>
    <td width="10%"><%= board.count %></td>
    <td width="60%"><%= link_to board.title.truncate(40,seperator: ' '), board %></td>
  </tr>
<% end %>
</table>

<br />
<div class="flickr_pagination">
  <%= will_paginate @projects, container:false %>
</div>
<%= link_to 'New Board', new_board_path,class:"pull-right btn btn-primary" %>
