<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Email:</b>
  <%= @board.email %>
</p>

<p>
  <b>Title:</b>
  <%= @board.title %>
</p>

<p>
  <b>Content:</b>
  <%= @board.content %>
</p>

<p>
  <b>Count:</b>
  <%= @board.count %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
