<p id="notice"><%= notice %></p>
<div class="span12">
  <div class="">
    Title :<%= @board.title %><br>
    <small>by <%= @board.name %></small><br>
    at : <%= @board.updated_at %> / count :<%= @board.count %><br>
  </div>
  <hr>
  <div>
    <%= @board.content %>
  </div>
</div>
<hr>
<div class="pull-right">
<%= link_to 'Edit', edit_board_path(@board), class:"btn btn-info"%> |
<%= link_to 'Delete', @board, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %> |
<%= link_to 'Back', boards_path, class:"btn"%>
</div>
