<h1>Members</h1>
<% if user_signed_in? %>
  <%= link_to 'New Member', new_member_path, class:"btn btn-primary pull-right" %>
<% end %>
<div>
<hr>
<% @members.each do |member| %>
  <div class="member_info">
    <h1><%= member.name %></h1>
    <div>
    <p id="member_id"><i class="icon-credit-card icon-large icon"></i> <%= member.student_id %></p>
    <p id="member_email"><i class="icon-envelope icon-large icon"></i> <%= member.email %></p>
    <p id="member_phone"><i class="icon-phone icon-large icon"></i> <%= member.phone %></p>
    <p id="member_part"><i class="icon-group icon-large icon"></i> <%= member.part %></p>
    </div>
  </div>
<% end %>
<br />
</div>
