<h1>Members</h1>
<% if user_signed_in? %>
  <%= link_to 'New Member', new_member_path, class:"btn btn-primary pull-right" %>
<% end %>
<div>
<hr>
<% @members.each do |member| %>
  <div class="member_info">
    <h1><%= member.name %></h1>
    <div>
    Student ID : <%= member.student_id %><br>
    Part : <%= member.part %><br>
    Email : <%= member.email %><br>
    Phone : <%= member.phone %><br>
    </div>
  </div>
<% end %>
<br />
</div>
