<h1>Members</h1>
<% if user_signed_in? %>
  <%= link_to 'New Member', new_member_path, class:"btn btn-primary pull-right" %>
<% end %>
<div>
<hr>
<% @members.each do |member| %>
  <div class="member_info">
    <h1><%= member.name %></h1>
    <div>
    <p id="member_id">Student ID : <%= member.student_id %></p>
    <p id="member_part">Part : <%= member.part %></p>
    <p id="member_email">Email : <%= member.email %></p>
    <p id="member_phone">Phone : <%= member.phone %></p>
    </div>
  </div>
<% end %>
<br />
</div>
